@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");

$nav-border: hsl(0, 0%, 85%);
$circle-gray: hsla(231, 10%, 71%, 1);
$black: hsl(0, 0%, 0%);
$dark-text: hsla(0, 0%, 16%, 1);
$bg-white: hsla(0, 0%, 100%, 1);
$form-gray: hsla(0, 0%, 50%, 1);
$input-border: hsla(0, 0%, 29%, 1);
$radio-border: hsla(0, 0%, 13%, 1);
$radio-box-shadow: hsla(0, 0%, 16%, 1);
$card-gray: hsla(240, 20%, 95%, 1);
$button-pink: hsla(343, 88%, 71%, 1);
$button-top-border: hsla(240, 11%, 91%, 1);
$footer-gray: hsl(0, 0%, 90%);

/* CSS Reset */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  color: $dark-text;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

/* general settings */
.container {
  width: 95%;
  margin: 0 auto;
}

header,
main,
section,
footer {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

@mixin getStepNumbers($num) {
  @for $i from 1 through $num {
    &:nth-of-type(#{$i}) .step-circle::after {
      content: "#{$i}";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@mixin setGridCols($size, $end) {
  @for $i from 1 to $end {
    @for $j from $i+1 through $end {
      .col-#{$size}-#{$i}-#{$j} {
        grid-column: #{$i} / #{$j};
      }
    }
  }
}

/* header */
.menu {
  background-color: $bg-white;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
  text-align: center;
  background-color: $bg-white;
  position: absolute;
  top: 100%;
  left: 0;
  transform: scaleY(0);
  transition: transform 0.3s ease;
  transform-origin: top center;
}

.nav-list {
  margin: 0 15px;
}

.nav-item {
  opacity: 0;
  padding: 1rem;
  border-bottom: 2px solid $nav-border;
}

.menu-toggle {
  display: none;
  &:checked ~ .nav {
    transform: scaleY(1);
  }
  &:checked ~ .nav .nav-item,
  &:checked ~ .nav .icon-container {
    opacity: 1;
    transition: opacity 0.3s ease 0.1s;
  }
}

.menu-toggle-label {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  left: 15px;
  // background-image: url(require("../../images/bx_bx-menu-alt-left@2x.png"));
  background-size: cover;
}

.logo {
  width: 135px;
  height: auto;
  margin: 0 auto;
}

.icon-container {
  width: 152px;
  padding: 1rem;
  margin: 0 auto;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  .icon {
    width: 24px;
    height: 24px;
    &:nth-child(2) {
      margin: 0 40px;
    }
  }
}

/* main */
.main {
  padding: 4.5rem 0;
}

.title {
  font-size: 24px;
}

/* stepper */
.progress {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}

.stepper-wrapper {
  display: flex;
  margin-top: 1.5rem;
}

.step {
  position: relative;
  display: flex;
  align-items: center;
  @include getStepNumbers(3);
  &.disabled .step-circle {
    border: 1px solid $circle-gray;
    color: $circle-gray;
  }
  &.disabled .step-title {
    color: $circle-gray;
  }
  &.disabled ~ .step-connect {
    background-color: $circle-gray;
  }
  &.checked .step-circle::after {
    content: "\2714";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.step-connect {
  transform: translateY(16px);
  background-color: $black;
  flex: 0 0 auto;
  margin: 0 2rem;
  width: 60px;
  height: 2px;
}

.step-title {
  display: none;
}

.step-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  background-color: $bg-white;
}

.step.active .step-circle,
.step.checked .step-circle {
  background-color: $black;
  color: $bg-white;
}

/* form */
form {
  width: 100%;
  height: 400px;
  label {
    padding: 0.5rem 0;
    display: block;
    color: $form-gray;
  }
  input {
    width: 100%;
    padding: 1rem;
    border: 1px solid $input-border;
    height: 40px;
    border-radius: 4px;
  }
  select {
    width: 100%;
    padding-left: 1rem;
    height: 40px;
    border-radius: 4px;
  }
}

.form-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  @include setGridCols(sm, 13);
  &.hide {
    display: none;
  }
}

.radio-option {
  margin-top: 1.5rem;
  border: 1px solid $dark-text;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 40px 150px 1fr 40px;
  grid-template-rows: 30px 30px;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "radio title . detail"
    "radio title . detail";
  &.disabled {
    border-color: $card-gray;
  }
  input[type="radio"] {
    grid-area: radio;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    padding: 8px;
    border: 1px solid $radio-border;
    border-radius: 50%;
    &:checked {
      box-shadow: inset 0 0 0 6px $radio-box-shadow;
    }
  }
}

.option-title {
  grid-area: title;
  label {
    color: $black;
  }
}

.transportation-price {
  align-self: start;
  grid-area: detail;
}

/* card */
.card {
  border: 1px solid $card-gray;
  border-radius: 8px;
  margin: 2rem 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3fr 3fr 1fr 1fr;
  gap: 1rem;
}

.card-title {
  display: none;
}

.card-img {
  width: 100px;
  height: 100px;
}

.item-detail-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 30%);
  text-align: right;
}

.btn-minus,
.btn-plus {
  width: 26px;
  height: 27px;
  font-size: 1rem;
  border: none;
  border-radius: 50%;
  background-color: $card-gray;
}

.info-panel {
  padding: 1rem;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $card-gray;
}

.item-panel {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.amount {
  margin: 2rem;
}

/* buttons */
.button-container {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 40px;
  border-top: 2px solid $button-top-border;
  display: flex;
  justify-content: space-between;
}

.btn {
  flex-basis: 50%;
  border: none;
  border-radius: 8px;
  height: 46px;
}

.btn-previous {
  background-color: transparent;
}

.btn-next {
  flex: 1 0 auto;
  background-color: $button-pink;
  color: $bg-white;
}

/* footer */
footer {
  display: none;
}

/*** desktop ***/
@media screen and (min-width: 375px) {
  .container {
    max-width: 1110px;
  }

  .main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    grid-template-areas:
    "title title"
    "progress cart"
    "form cart"
    "button cart";
  }

  /* header */
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav {
    width: 100%;
    all: unset;
    grid-area: list;
    display: flex;
  }

  .menu-toggle-label {
    display: none;
  }

  .logo {
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
  }

  .nav-item {
    width: 30%;
    opacity: 1;
    border: none;
  }

  .icon-container {
    opacity: 1;
  }

  /* stepper */
  .progress {
    grid-area: progress;
    max-height: 150px;
  }

  .stepper-wrapper {
    margin-top: 3rem;
  }

  .step-title {
    display: inline-block;
    width: max-content;
    margin-left: 0.5rem;
  }

  .title-lg {
    font-size: 2rem;
  }

  /* form */
  form {
    grid-area: form;
  }

  .form-section {
    @include setGridCols(lg,13);
  }

  /* card */
  .card {
    width: 450px;
    grid-area: cart;
    grid-template-rows: 1fr 3fr 3fr 1fr 1fr;
  }

  .card-title {
    display: block;
    align-self: center;
  }

  .item-panel{
    display: grid;
    grid-template-columns: auto 2fr;
    column-gap: 20px;
  }

  .item-detail-wrapper {
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "item price"
    "buttons buttons";
  }

  .card-item {
    grid-area: item;
  }

  .card-buttons {
    grid-area: buttons;
  }

  .price {
    justify-self: end;
    grid-area: price;
  }

  /* buttons */
  .button-container {
    grid-area: button;
  }

  .btn-next {
    flex: 0 0 45%;
    margin-left: auto;
  }

  /* footer */
  footer {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    width: 100%;
    background-color: $footer-gray;
  }

  .footer-nav {
    margin: 64px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    .icon-container {
      margin: 0;
    }
  }
}
/* No CSS */
/*# sourceMappingURL=style.css.map */
